<?xml version="1.0"?>
<configuration>
   <connectionStrings>
     <!-- Use this if SQLExpress is installed -->
     <!-- <add name="SiteSqlServer" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>-->
		 <!-- Use this if other SQLServer Version is installed, attach mdf-file to SQL_Server and eventually correct the path -->
		 <add name="SiteSqlServer" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Sourcen_tfs\Bitboxx\BBImageHandler\Web\App_Data\Database.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
	 </connectionStrings>
   <appSettings>
      <add key="BBImageHandler" value="EnableClientCache=true;EnableServerCache=true;ServerCacheExpiration=3600;EnableSecurity=false;ImageCompression=95;AllowedDomains=bitboxx.net" />
		  <add key="BBDatabase" value="Connectionstring=SiteSqlServer;table=MyImages;ImageField=ImageData;idField=ImageID"/>
   </appSettings>
   <system.web>
      <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>